*, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-mobile {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-size: cover;

  // Background Green
  background-image:
    linear-gradient(
      rgba(30, 54, 2, 0.993),
      rgba(124, 204, 99, 0.74),
      rgba(117, 180, 98, 0.411),
      rgba(30, 54, 2, 0.993)
    ),
    url('./../../assets/images/cestas/hortalizas-mobile.png');
}

.container-desktop {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-size: cover;

  // Background Green
  background-image:
    linear-gradient(
      rgba(30, 54, 2, 0.993),
      rgba(124, 204, 99, 0.74),
      rgba(117, 180, 98, 0.411),
      rgba(30, 54, 2, 0.993)
    ),
    url('./../../assets/images/cestas/hortalizas.png');
}

.container-tablet {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-size: cover;

  // Background Green
  background-image:
    linear-gradient(
      rgba(30, 54, 2, 0.993),
      rgba(124, 204, 99, 0.74),
      rgba(117, 180, 98, 0.411),
      rgba(30, 54, 2, 0.993)
    ),
    url('./../../assets/images/cestas/hortalizas-tablet.png');
}

.buttons-app {
  display: flex;
  flex-direction: row;
  height: auto;
  align-self: center;
  padding-bottom: 20px;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: honeydew;
  height: 150px;
}

.backward {
  margin-right: 10px;
  margin-top: 200px;
  cursor: pointer;
  height: 50px;
}

.forward {
  margin-left: 10px;
  margin-top: 200px;
  cursor: pointer;
  height: 50px;
}

.title {
  font-family: Roboto, Helvetica Neue ,sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  font-size: 30px;
}

.subtitle {
  font-family: Roboto, Helvetica Neue ,sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  font-size: 18px;
}

.image-stores {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  height: 100px;
}

// .google-play {
//   display: flex;
//   flex-direction: column;
//   cursor: pointer;
// }

.android-apk {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 50px;
}

// .apple-store {
//   display: flex;
//   flex-direction: column;
//   cursor: pointer;
//   margin-top: 5px;
//   height: 50px;
//   margin-left: 5px;
// }

.image-device {
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  height: 470px;
}

.img-fluid {
  display: flex;
  flex-direction: column;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS
  .image-stores {
    flex-direction: row;
  }

  // .google-play {
  //   margin-right: 10px;
  // }

  // .apple-store {
  //   margin-left: 10px;
  // }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS
  .image-stores {
    flex-direction: row;
  }

  // .google-play {
  //   margin-right: 10px;
  // }

  // .apple-store {
  //   margin-left: 10px;
  // }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  .image-stores {
    flex-direction: row;
  }

  .image-device {
    height: 370px;
  }

  // .google-play {
  //   margin-right: 10px;
  // }

  // .apple-store {
  //   margin-left: 10px;
  // }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  .image-stores {
    flex-direction: row;
  }

  .image-device {
    height: 370px;
  }

  .backward {
    margin-top: 150px;
  }

  .forward {
    margin-top: 150px;
  }

  // .google-play {
  //   margin-right: 10px;
  // }

  // .apple-store {
  //   margin-left: 10px;
  // }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  .image-stores {
    flex-direction: row;
    align-items: center;
    align-self: center;
  }

  // .google-play {
  //   margin-bottom: 5px;
  //   height: 50px;
  //   margin-top: 11px;
  //   margin-right: 5px;
  // }

  .title {
    // padding-left: 10px;
    font-size: 18px;
  }

  .subtitle {
    // padding-left: 10px;
    font-size: 15px;
  }

  .image-device {
    height: 270px;
  }

  .backward {
    margin-top: 100px;
  }

  .forward {
    margin-top: 100px;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  .image-stores {
    flex-direction: row;
    align-items: center;
    align-self: center;
  }

  // .google-play {
  //   margin-bottom: 5px;
  //   height: 50px;
  //   margin-top: 11px;
  //   margin-right: 5px;
  // }

  .title {
    // padding-left: 10px;
    font-size: 18px;
  }

  .subtitle {
    // padding-left: 10px;
    font-size: 15px;
  }

  .image-device {
    height: 270px;
  }

  .backward {
    margin-top: 100px;
  }

  .forward {
    margin-top: 100px;
  }

}
