<!-- Container -->
<div [ngClass]="{ 'container-desktop':isDesktop,
                  'container-tablet':isTablet,
                  'container-mobile':isMobile }">

  <!-- Text Contents -->
  <div class="title-content" [@EnterLeave]="'flyIn'">
    <span class="title">¡Descarrega la nostra app de Wateca!</span>
    <span class="subtitle">Disponible a Google Play i aviat a la Apple Store</span>
  </div>

  <!-- App Stores -->
  <div class="image-stores" [@EnterLeave]="'flyIn'">
      <!-- <a href="#"><img class="google-play" src="assets/images/app-badge/google-play.png" alt="google-play"></a> -->
      <!-- <a href="#"><img class="apple-store" src="assets/images/app-badge/app-store.png" alt="app-store"></a> -->
    <a (click)="downloadApk()">
      <img class="android-apk" src="assets/images/app-badge/download-apk.png" alt="google-play">
    </a>
  </div>

  <!-- App Image and Buttons Next/Previous -->
  <div class="image-device">

    <!-- Button Previous -->
    <div class="backward"
      *ngIf="prev"
      (click)="previousPic()"
      [@EnterRightLeave]>
      <img src="assets/images/app-badge/arrow_LeftLight.png" alt="iphone-wateca-app-cli">
    </div>

    <!-- Image App -->
    <img src="assets/images/phones/{{pics[index]}}.png" alt="iphone-wateca-app-cli" [@fadeInOut]>

    <!-- Button Next -->
    <div class="forward"
      *ngIf="next"
      (click)="nextPic()"
      [@EnterLeftLeave]>
      <img src="assets/images/app-badge/arrow_RightLight.png" alt="iphone-wateca-app-cli">
    </div>
  </div>
</div>
